{% extends '200.html' %}

{% block title %}Chat Session{% endblock %}

{% block content %}
We are in the chat window.
<form  class="form" action="{{ url }}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-{{ button_class|default:'default' }}">{{ button_message|default:'Submit' }}</button>
</form>

<ul class="list-group">
{% for obj in object_list %}
    <li class="list-group-item"><span class="label label-primary">{{ obj.username }}: </span> {{ obj.message }}</li>
{% endfor %}
</ul>
{% endblock content %}
